.cover__link {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
