.photo-grid {
  max-width: 100%;
  margin: 92px 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 520px) {
  .photo-grid {
    max-width: 100%;
    margin: 64px 16px 0px;
    row-gap: 12px;
    column-gap: 0;
  }
}

@media screen and (min-width: 521px) and (max-width: 840px) {
  .photo-grid {
    max-width: 100%;
    margin: 88px 24px 0px;
    gap: 16px;
  }
}

@media screen and (min-width: 841px) and (max-width: 1160px) {
  .photo-grid {
    max-width: 100%;
    margin: 88px 48px 0px;
    gap: 14px;
  }
}
