.place__paragraph {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:nth-of-type(1n+1) {
  margin: 0 0 26px;
}

@media screen and (max-width: 620px) {
  .place__paragraph {
    grid-row: 3;
    grid-column: 1;
    width: calc(100vw - 16px * 2);
    font-size: 16px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 621px) and (max-width: 840px) {
  .place__paragraph {
    font-size: 16px;
  }
}
