.lead__image {
  max-width: 100%;
  margin: 64px 0 0;
}

@media screen and (max-width: 1160px) {
  .lead__image {
    margin: 56px 0 0;
  }
}

@media screen and (max-width: 520px) {
  .lead__image {
    margin: 40px auto 0;
  }
}
