.intro {
  font-family: "Inter", "Arial", sans-serif;
  margin: 106px auto 0;
  padding: 0;
  color: #ffffff;
  max-width: 984px;
}

@media screen and (max-width: 1160px) {
  .intro {
    margin: 92px 48px 48px;
    max-width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .intro {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 520px) {
  .intro {
    margin: 64px 16px 0;
  }
}
