.cover {
  font-family: "Inter", "Arial", sans-serif;
  position: relative;
  max-width: 100%;
  min-height: 740px;
  margin: 92px 48px 0;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1160px) {
  .cover {
    margin: 90px auto 0;
    min-height: 640px;
  }
}

@media screen and (max-width: 840px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 520px) {
  .cover {
    margin: 66px auto 0;
    min-height: 200px;
  }
}
